.card-btn{
  --bs-btn-bg: color-mix(in srgb, var(--primary) 15%, transparent);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: color-mix(in srgb, var(--primary) 25%, transparent);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-bg: color-mix(in srgb, var(--primary) 35%, transparent);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: none;
}
