<div class="h-100">
  <div class="p-3">
    <div class="d-flex alugn-items-center gap-3">
      <span class="fs-4 text-color-100 mb-0">Live Workers Trend per Zone</span>
      <button class="btn card-btn p-1 px-2">
        <img src="assets/imgs/icons/arrow_down.svg">
      </button>
      <div class="flex-grow-1"></div>
      <button class="btn p-0">
        <img src="assets/imgs/icons/info.svg">
      </button>
    </div>
    <span class="text-color-200 mt-3 d-block">Current statistics for the events</span>

    <div class="line-chart">
      <app-line-chart></app-line-chart>
    </div>

  </div>
</div>
