<div class="p-4">
  <div class="row">
    <div class="col-12 col-md-6 mt-2">
      <div class="d-flex align-items-center gap-3">
        <img src="assets/imgs/cloud.png">
        <span class="fs-1 fw-bold text-color-200">32&deg;C</span>
      </div>
      <p class="fs-3 text-center text-color-200 mb-0">Amman, Jordan</p>
    </div>
    <div class="col-12 col-md-6 p-0 mt-2">
      <div class="row">
        <div class="col-6">
          <div class="d-flex flex-column gap-2 align-items-center">
            <span class="fs-3 text-color-200">2 PM</span>
            <div class="small-clound">
              <img src="assets/imgs/cloud.png">
            </div>
            <span class="fs-3 text-color-100">30</span>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex flex-column gap-2 align-items-center">
            <span class="fs-3 text-color-200">2 PM</span>
            <div class="small-clound">
              <img src="assets/imgs/cloud.png">
            </div>
            <span class="fs-3 text-color-100">28</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
