<div class="card-body h-100 position-relative rounded-4 py-5 px-4">
  <img src="assets/imgs/card-background.jpeg" class="background-image">
  <h3 class="fs-1 fw-bold text-color-100 mb-0">ABCD Site</h3>
  <p class="fs-5 text-color-200 mb-5">RR1 Area</p>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="fs-1 text-color-100">{{ site?.activePeople || '1,148' }}</h3>
      <p class="fs-3 text-color-200">Active People</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="fs-1 text-color-100">{{ site?.activeDevices || '924'}}</h3>
      <p class="fs-3 text-color-200">Active Devices</p>
    </div>
  </div>

</div>
