<div class="h-100">
  <div class="p-3">
    <div class="d-flex alugn-items-center gap-3">
      <span class="fs-4 text-color-100 mb-0">Live events</span>
      <button class="btn card-btn p-1 px-2">
        <img src="assets/imgs/icons/arrow_down.svg">
      </button>
      <div class="flex-grow-1"></div>
      <button class="btn p-0">
        <img src="assets/imgs/icons/info.svg">
      </button>
    </div>

    <span class="text-color-200 mt-3 d-block">Current statistics for the events</span>

    <div class="row mt-2">
      <div class="col-sm-6 col-lg-4 mt-3" *ngFor="let item of liveEvents">
        <div class="d-flex align-items-center flex-column gap-2">
          <div class="circle" [ngClass]="item.title == 'Alerts' ? 'circle-secondary' : item.title == 'Alarms' ? 'circle-tertiary' : ''"></div>
          <div class="d-flex gap-3 align-items-center">
            <span class="fs-3 text-color-100">{{item.count}}</span>
            <div class="chip success p-1">
              <img src="assets/imgs/icons/arrow_top.svg">
              <span>15.2%</span>
            </div>
          </div>
          <p class="text-color-200 align-self-start ms-4">{{item.title}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-chart mt-3 overflow-hidden rounded-5">
    <app-live-events-chart></app-live-events-chart>
  </div>
</div>
