<div class="h-100 p-3">
  <div class="d-flex alugn-items-center gap-3">
    <span class="fs-4 text-color-100 mb-0">Devices Status Distribution</span>
    <button class="btn card-btn p-1 px-2">
      <img src="assets/imgs/icons/arrow_down.svg">
    </button>
    <div class="flex-grow-1"></div>
    <button class="btn p-0">
      <img src="assets/imgs/icons/info.svg">
    </button>
  </div>

  <div class="d-flex align-items-center gap-3 mt-5">
    <div class="flex-shrink-0">
      <img src="assets/imgs/phone.png">
    </div>
    <div class="flex-grow-1">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="d-flex flex-column align-items-center gap-1">
            <div class="circle"></div>
            <span class="fs-2 text-color-300 m-0">724</span>
            <span class="fs-6 text-color-300 m-0">Assigned</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="d-flex flex-column align-items-center gap-1">
            <div class="circle success"></div>
            <span class="fs-2 text-color-300 m-0">724</span>
            <span class="fs-6 text-color-300 m-0">Idle</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="d-flex flex-column align-items-center gap-1">
            <div class="circle secondary"></div>
            <span class="fs-2 text-color-300 m-0">724</span>
            <span class="fs-6 text-color-300 m-0">Others</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
