

  <aside class="side-menu flex-shrink-0 d-flex px-4 py-5 d-none d-md-flex">
    <div class="side-menu-body d-flex flex-column align-items-center p-2 rounded-4 bg-color-200">
      <img class="side-menu-logo mb-5 mt-4" src="https://s3-alpha-sig.figma.com/img/153a/af17/306ab659bf75afe991200ae1c8c3d1e6?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=i-sMRriXlJiRDRJlPzgLUAhNtKYUQOXn~Yh5L14cqlZIVWZUB7sibxSsU3iKX~KXM0ybNypSUFzL-G1qttlKitYhKkSfOAbcb-8fY7IfKdi2QxNCYWRhnGRvttqnqseSYh~V8SDdQ-8GBxD8n1lMSnGoyEgvqjUM9GoRTBDa7Ub5y1ha08CAkvjMqCWKhKbLvY2ndWrZWWt5yx0ZhifjbIPXyHUeuLdsgA4DoTgW9AW15BW7Us3mz0AZONMa0SAZ7NpK0hyIKzwwDvRR-bnClJbjFEiTPb~JKX0ncUSX340ARzGeimaZTh-T-XyjMgoLnISYlO3RZIYJtXIZ4vMdcA__">
      <a class="btn btn-side-menu" [ngClass]="isHomeUrl() ? 'active': ''" href="/home">
        <div class="btn-side-menu-icon">
          <img src="w-100" src="assets/imgs/icons/home.svg">
        </div>
        <span>Home</span>
      </a>
      <a class="btn btn-side-menu" [ngClass]="isRealtimeUrl() ? 'active': ''" href="/realtime">
        <div class="btn-side-menu-icon">
          <img src="w-100" src="assets/imgs/icons/text.svg">
        </div>
        <span>Realtime</span>
      </a>
      <a class="btn btn-side-menu" [ngClass]="isEventsUrl() ? 'active': ''" href="/events">
        <div class="btn-side-menu-icon">
          <img src="w-100" src="assets/imgs/icons/exclude.svg">
        </div>
        <span>Events</span>
      </a>
      <a class="btn btn-side-menu" [ngClass]="isDevicesUrl() ? 'active': ''" href="/devices">
        <div class="btn-side-menu-icon">
          <img src="w-100" src="assets/imgs/icons/bag.svg">
        </div>
        <span>Devices</span>
      </a>
      <a class="btn btn-side-menu" [ngClass]="isDomainUrl() ? 'active': ''" href="/domain">
        <div class="btn-side-menu-icon">
          <img src="w-100" src="assets/imgs/icons/activity.svg">
        </div>
        <span>Domain</span>
      </a>
      <a class="btn btn-side-menu" [ngClass]="isSettingsUrl() ? 'active': ''" href="/settings">
        <div class="btn-side-menu-icon">
          <img src="w-100" src="assets/imgs/icons/play.svg">
        </div>
        <span>Settings</span>
      </a>
    </div>
  </aside>
